{% extends "base.html" %}
{% block content %}
<h1>Keskustelu 'tanssiotteista'</h1>

<table class="table table-striped table-bordered">

    <tbody>
        <!-- Listataan pelit tähän -->
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/reader">Käyttäjä</a>
                <br>
                Julkaistu 28.01.2018
            </td>
            <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
        </tr>
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/reader">Käyttäjä 2</a>
                <br>
                Julkaistu 29.01.2018
            </td>
            <td>Ja tähän vielä toinen kommentti... Saankohan CSS:t kuntoon näille sivuille vielä aikanaan?</td>
        </tr>
    </tbody>
</table>
{% endblock %}