{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered">

    <h1>Tanssifoorumi!</h1>
    <thead>
            <th>Swing tanssit</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/discussion">Eka keskustelu</a>
                <br>
                Julkaistu 28.01.2018
            </td>
            <td>Keskustelun aihe</td>
        </tr>
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/discussion">toka keskustelu</a>
                <br>
                Julkaistu 28.01.2018
            </td>
            <td>Tokan keskustelun aihe</td>
        </tr>
    </tbody>
</table>

<br>
    
<table class="table table-striped table-bordered">

    <thead>
        <th>Jotkin muut tanssit!</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/discussion">Eka keskustelu</a>
                <br>
                Julkaistu 28.01.2018
            </td>
            <td>Keskustelun aihe</td>
        </tr>
        <tr>
            <td>
                <a href="http://laol.users.cs.helsinki.fi/tsoha/discussion">toka keskustelu</a>
                <br>
                Julkaistu 28.01.2018
            </td>
            <td>Tokan keskustelun aihe</td>
        </tr>
    </tbody>
</table>
{% endblock %}
