{% extends "base.html" %}
{% block content %}
<h1>Lisää käyttäjä</h1>

<form method='post' action='{{base_path}}/reader'>
    <div class="form-group">
        <label>Käyttäjänimi</label>
        <input type="text" name="user_name" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Etunimi</label>
        <input type="text" name="first_name" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Sukunimi</label>
        <input type="text" name="last_name" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" name="e_mail" class="form-control">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}