{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}

<h1>Näytetään käyttäjä {{reader.user_name}}</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Käyttäjänimi</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Sähköpostiosoite</tr>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{base_path}}/reader/{{reader.id}}">{{reader.user_name}}</a></td>
            <td>{{reader.first_name}}</td>
            <td>{{reader.last_name}}</td>
            <td>{{reader.e_mail}}</td>
        </tr>
    </tbody>
</table>

<h3>Käyttäjän {{reader.user_name}} lähettämät viestit</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Keskustelu</th>
            <th>Julkaistu</th>
            <th>Sisältö</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="http://laol.users.cs.helsinki.fi/tsoha/discussion">Keskustelu</a></td>
            <td>28.01.2018</td>
            <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</td>
        </tr>
    </tbody>
</table>

{{forms.destroy_button("#{base_path}/reader/#{reader.id}/destroy")}}
{{forms.link_button("#{base_path}/reader/update/#{reader.id}", "Muokkaa")}}
{% endblock %}